	
		*{
            margin: 0;
			border: 0;
			padding: 0px;
		}
		#hawken-topo{
			text-align: center;			
		}
		p{
			font-family: arial;
			margin: 10px;
			padding: 10px;
			text-align: justify;
			font-size: 15px;
		}
		h1, h2{
			font-family: arial;
			text-align: center;
		}
		h3{
            font-family: arial;
            text-align: center;
		}
		footer{
			text-align: center;
		}
		img{
			width: 20%;
			height: 20%;
		}
		.contato{
			font-size: .90em;
			text-align: center;
		}